<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Outcall</Name>
    <Version>1.0.0</Version>
    <Title>Outcall</Title>
    <Publisher>Team Nonames</Publisher>
    <StartMenuDir>Outcall</StartMenuDir>
    <TargetDir>@RootDir@/Outcall</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <TitleColor>#FFFFFF</TitleColor>
    <ControlScript>controllerInstaller.qs</ControlScript>
    <!-- -->
    <RunProgram>@TargetDir@/Outcall.exe</RunProgram>
    <RunProgramDescription>Запустить Outcall после установки</RunProgramDescription>
</Installer>